<div class="row">
    <div class="span8">
        <div style="margin: 20px;">
            <p class="lead">
                I bake.
            </p>
            <p class="lead">
                The rest of the story will be here super soon!
            </p>
        </div>
    </div>
    <div class="span4">
        <div style="margin: 20px;">
            <p>
                <strong>Pickup location</strong>
                <br/>
                228 Queens Quay W.: Sat-Sun (10am-3pm)
            </p>
            <p>
                <strong>Delivery</strong>
                <br/>
                Sat-Sun (4pm-7pm): $5
            </p>
            <p>
                <strong>Contact me</strong>
                <br/>
                <a href="mailto:info@sweetbread.ca">info@sweetbread.ca</a>
                <br/>
                (647) 830-4300
            </p>
        </div>
    </div>
</div>