<div class="row">
    <div class="span8">
        <div style="margin: 20px;">
            <p class="lead">
                I bake.
            </p>
            <p class="lead">
                The rest of the story will be here super soon!
            </p>
        </div>
    </div>
    <div class="span4">
        <div style="margin: 20px;">
            <p>
                <strong>Pickup location</strong>
                <br/>
                51 Lower Simcoe: Sat-Sun (10am-3pm)
            </p>
            <p>
                <strong>Delivery</strong>
                <br/>
                Sat-Sun (4pm-7pm): $5
            </p>
            <p>
                <strong>Contact me</strong>
                <br/>
                <a href="mailto:masha.ku@gmail.com">masha.ku@gmail.com</a>
                <br/>
                (647) 830-43-00
            </p>
        </div>
    </div>
</div>