<div style="text-align: center;">
	THANK YOU!
	
	<p>
		<a href=<%= root_url %>> Home </a>
	</p>
</div>

<!-- 
<table id="table">

<tr>
	<td class='left-column'>
		THANK YOU!
	</td>
	
	<td class='right-column'>
		
	</td>
</tr>

</table> -->
