<script type="text/template" id="bread-crumbs-template">

<div id="row">
    <div id="bread-crumbs">
    	<span id='step1' class="<%%= step == 1 ? 'active' : '' %> enabled">1. Create</span> <i class="icon-arrow-right"></i>
    	<span id='step2' class="<%%= step == 2 ? 'active' : '' %><%%= max_step >= 2 ? ' enabled' : ' disabled' %>">2. Delivery</span> <i class="icon-arrow-right"></i> 
    	<span id='step3' class="<%%= step == 3 ? 'active' : '' %><%%= max_step >= 3 ? ' enabled' : ' disabled' %>">3. Review</span>
    </div>
</div>
    
</script>

<script type="text/template" id="select-template">
    <div class="row">
        <div class="span8">
            <div class="components">
            <%% _.each(availableComponents, function(url, name) { %>
                <div class="component">
                    <span class="component-title"><%%=name%></span>
                    <br/>
                    <img alt="<%%= name %>" src="<%%= url %>" class="component-image<%%= components[name] ? ' selected' : '' %>"/>
                </div>
            <%% }); %>
            </div>
            <div style="height: 400px">
                <img src="assets/bread.jpg" id="bread-image"/>
            </div>
            <div style="margin: 10px;">
                <span class="lead"> How many loaves would you like?</span>
                <div id="quantity-minus" class="btn btn-warning plus-minus <%%= quantity == 1 ? 'disabled' : '' %>">-</div>                
                <span id="qty"><%%= quantity%></span>
                <div id="quantity-plus" class="btn btn-warning plus-minus <%%= quantity == 3 ? 'disabled' : '' %> ">+</div>
            </div>
        </div>
        
        <div class="span4">
            <div>
                <p id="order-text" class="lead">You are ordering <strong><%%= quantity %></strong> banana bread <%%= loaf %><span id="order-components"><%%= order_text %></span>.</p>
                <p>
                    <strong>Pickup location</strong>
                    <br/>
                    <%%= myAddress %>: <%%= pickupTimeTxt %>
                </p>
                <p>
                    <strong>Delivery</strong>
                    <br/>
                    <%%= deliveryTimeTxt%>: $<%%= deliveryPrice%>
                </p>
                <p>
                    <strong>Contact me</strong>
                    <br/>
                    <a href="mailto:<%%= myEmail %>"><%%= myEmail %></a>
                    <br/>
                    <%%= myPhone %>
                </p>
                
            </div>

            <div id="order-step">
                <div id="step-button" class="btn btn-large btn-warning">Next</div>
                <p>Next step: choose how you&apos;d like to get your bread</p>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="payment-template">
    <div class="row">
        <div class="span8">
            <div class="row">
                <div class="span8">
                    <div id="delivery-message" class="alert alert-block">
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="span4">
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <div class="control-group">
                                <label class="radio radio-label">
                                    <input type="radio" name="delivery-type" value="pickup" <%%= delivery_type == 'pickup' ? 'checked' : '' %> /> Pickup
                                </label>
                                <label class="radio radio-label">
                                    <input type="radio" name="delivery-type" value="delivery" <%%= delivery_type == 'delivery' ? 'checked' : '' %> /> Bike Delivery
                                </label>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="delivery-address">Address</label>
                                <div class="controls">
                                    <input class="input" id="delivery-address" type="text" value="<%%= delivery_address %>">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="user-name">Name</label>
                                <div class="controls">
                                    <input class="input"  id="user-name" type="text" value="<%%= user_name %>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="user-phone">Phone</label>
                                <div class="controls">
                                    <input class="input" id="user-phone" type="text" value="<%%= user_phone %>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="user-email">Email</label>
                                <div class="controls">
                                    <input class="input"  id="user-email" type="text" value="<%%= user_email %>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="user-comment">Comment</label>
                                <div class="controls">
                                    <textarea class="input-large" id="user-comment" name="user-comment" rows="9" placeholder="Please let me know when you want to get your order!"><%%= user_comment%></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="span4">
                        <div id="delivery">
                            <div id="map-canvas"></div>
                            <div id="message" style="display:none;">
                                <div id="delivery-message">
                                </div>
                                <div id="distance-message">
                                </div>
                                <div id="distance-message-error" class="red">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="span4">
            <p id="order-text" class="lead">You are ordering <strong><%%= quantity %></strong> banana bread <%%= loaf %><span id="order-components"><%%= order_text %></span>.</p>
            <div class="well">
                <div class="row-fluid show-grid">
                    <div class="span8"><%%= quantity%> banana bread <%%= " " + loaf %></div>
                    <div class="span4"> $<%%= loaf_price%></div>
                </div>
                <div id="delivery-price" class="row-fluid show-grid">
                    <div class="span8">Delivery</div>
                    <div class="span4"> $<%%= delivery_price%></div>
                </div>
                <hr/>
                <div class="row-fluid show-grid">
                    <div class="span8">Total</div>
                    <div id="total" class="span4">
                        = $<%%= loaf_price * quantity + (delivery_type == 'pickup' ? 0 : delivery_price) %>
                    </div>
                </div>
            </div>
            <p>
                <strong>Pickup location</strong>
                <br/>
                <%%= myAddress %>: <%%= pickupTimeTxt %>
            </p>
            <p>
                <strong>Delivery</strong>
                <br/>
                <%%= deliveryTimeTxt%>: $<%%= deliveryPrice%>
            </p>
            <p>
                <strong>Contact me</strong>
                <br/>
                <a href="mailto:<%%= myEmail %>"><%%= myEmail %></a>
                <br/>
                <%%= myPhone %>
            </p>

            <div id="order-step">
                <div id="step-button" class="btn btn-large btn-warning">Next</div>
                <p>Next step: review your order</p>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="review-template">
    <div class="row">
        <div class="span8">
            <h2>Dear <%%=user_name%>,</h2>
            <p class="lead">
            <%%= delivery_type == 'pickup' ? 'Your banana bread is going to be ready by Saturday morning. Please pick it up at 51 Lower Simcoe from 9am to 1am.' : 'Your banana bread is going to be delivered on Saturday from 2pm to 7pm to the following address: '+'<div>'+delivery_address + '</div>' %> 
            </p>
            
        </div>
        <div class="span4">
            <p id="order-text" class="lead">You are ordering <strong><%%= quantity %></strong> Banana bread <%%= loaf %><span id="order-components"><%%= order_text %></span>.</p>
            <div class="well">
                <div class="row-fluid show-grid">
                    <div class="span8"><%%= quantity%> banana bread <%%= " " + loaf %></div>
                    <div class="span4"> $<%%= loaf_price%></div>
                </div>
                <%% if(delivery_type != 'pickup'){ %>
                    <div id="delivery-price" class="row-fluid show-grid">
                        <div class="span8">Delivery</div>
                        <div class="span4"> $<%%= delivery_price%></div>
                    </div>
                <%% } %>
                <hr/>
                <div class="row-fluid show-grid">
                    <div class="span8">Total</div>
                    <div id="total" class="span4">
                        = $<%%= loaf_price * quantity + (delivery_type == 'pickup' ? 0 : delivery_price) %>
                    </div>
                </div>
            </div>
            <p>
                <strong>Pickup location</strong>
                <br/>
                <%%= myAddress %>: <%%= pickupTimeTxt %>
            </p>
            <p>
                <strong>Delivery</strong>
                <br/>
                <%%= deliveryTimeTxt%>: $<%%= deliveryPrice%>
            </p>
            <p>
                <strong>Contact me</strong>
                <br/>
                <a href="mailto:<%%= myEmail %>"><%%= myEmail %></a>
                <br/>
                <%%= myPhone %>
            </p>
            <div id="order-step">
    			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    				<div id="payment">
    					<input type="hidden" name="cmd" value="_s-xclick">
    					<input type="hidden" name="encrypted" value="<%%= paypal_encrypted %>">
    					<input type="submit" class="btn btn-large btn-warning" value="Pay with PayPal">
    					<!--<p>You will be redirected to PayPal</p>--!>
    				</div>
    			</form>
    		</div>
        </div>
    </div>

</script>