<script type="text/template" id="bread-crumbs-template">

<div id="bread-crumbs">
	<span id='step1' class="<%%= step == 1 ? 'active' : '' %> enabled">Step 1</span> > 
	<span id='step2' class="<%%= step == 2 ? 'active' : '' %><%%= max_step >= 2 ? ' enabled' : ' disabled' %>">Step 2</span> > 
	<span id='step3' class="<%%= step == 3 ? 'active' : '' %><%%= max_step >= 3 ? ' enabled' : ' disabled' %>">Step 3</span>
</div>

</script>

<script type="text/template" id="select-template">

<table id="table">

<tr>
	<td class="left-column">
		<div id="bread-image"></div>

    <%% _.each(availableComponents, function(url, name) { %>
      <img alt="<%%= name %>" src="<%%= url %>" class="component-image<%%= components[name] ? ' selected' : '' %>"/>
    <%% }); %>		
	</td>
	
	<td class="right-column">
		<span id="order-text">You are about to order <span id="order-quantity"><%%= quantity %></span> Banana bread <span id="order-loaf"><%%= loaf %></span><span id="order-components"><%%= order_text %></span>.</span>
		<div id="quantity-control">
			Quantity <br/>
			<div id="quantity-plus" class="button plus-minus <%%= quantity == 3 ? 'disabled' : '' %> ">+</div>
			<div id="quantity-minus" class="button plus-minus <%%= quantity == 1 ? 'disabled' : '' %>">-</div>
		</div>
		
		<div id="order-step">
			<div id="step-button" class="button order">Next</div>
			Next step: enter your address and payment info
		</div>
	</td>
</tr>

</table>

</script>


<script type="text/template" id="payment-template">

<table id="table">

<tr>
	<td class="left-column">
		<form method="post">
			<ul class="form-ul">
			<li>
				<span class="form-label">Name</span>
				<input id="user-name" name="user-name" type="text" placeholder="First and last name" value="<%%= user_name %>"/>
				<span id="user-name-error" class="error-message"><%%= valid_fields["user_name"]%></span>
			</li>
			<li>
				<span class="form-label">Email</span>
				<input id="user-email" name="user-email" type="email" placeholder="banana@bread.com" value="<%%= user_email%>"/>
				<span id="user-email-error" class="error-message"><%%= valid_fields["user_email"]%></span>
			</li>
			<li>
				<span class="form-label">Comment</span>
				<textarea id="user-comment" name="user-comment" rows="5" cols="50"><%%= user_comment%></textarea>
			</li>
			</ul>
			
			<input type="radio" name="delivery-type" value="pickup" <%%= delivery_type == 'pickup' ? 'checked' : '' %> /> Pickup
			<br/>
			<input type="radio" name="delivery-type" value="delivery" <%%= delivery_type == 'delivery' ? 'checked' : '' %> /> Bike Delivery
			<div id="delivery-address" style="display:none;">
				<ul class="form-ul">
				<li>
					<span class="form-label">Address</span>
					<input id="street-address" type="text" value="<%%= delivery_address %>">
					<span id="street-address-error" class="error-message"><%%= valid_fields["street_address"]%></span>
				</li>
				<li>
					<span class="form-label">Phone #:</span>
					<input id="user-phone" type="text" value=<%%= user_phone%>>
					<span id="user-phone-error" class="error-message"><%%= valid_fields["user_phone"]%></span>
				</li>
				</ul>
			</div>
			<div id="delivery">
				<div id="map-canvas"></div>
				<div id="message">
					<div id="delivery-message">
					</div>
					<div id="distance-message">
					</div>
					<div id="distance-message-error" class="red">
					</div>
				</div>
			</div>
		</form>
	</td>
	
	<td class="right-column">
		<span id="order-text">You are about to order <span id="order-quantity"><%%= quantity %></span> Banana bread <span id="order-loaf"><%%= loaf %></span><span id="order-components"><%%= order_text %></span>.</span>
		
		<div id="order-step">
			<div id="step-button" class="button order">Review</div>
			Next step: confirm your order
		</div>
	</td>
</tr>

</table>

</script>


<script type="text/template" id="review-template">

<table id="table">

<tr>
	<td class='left-column'>
		<div id="review-info">
			<h4>Dear <%%=user_name%>,</h4>
			<p>Please review your order.</p>
			<span id="order-quantity"><%%= quantity %></span> Banana bread <span id="order-loaf"><%%= loaf %></span><span id="order-components"><%%= order_text %></span>.</span></p>
			
			<p><%%= (delivery_type==="pickup") ? 
				"Please, pick up your order during the day on the coming Saturday from 9:00 to 3:00"
			   : "Your order is going to be delivered on the coming Saturday from 3:00 PM to 7:00 PM"
			 %>
			</p>
			// Order number is <%%= order_id %>
		</div>
	</td>
	
	<td class='right-column'>
		<span id="order-text">You are about to order <span id="order-quantity"><%%= quantity %></span> Banana bread <span id="order-loaf"><%%= loaf %></span><span id="order-components"><%%= order_text %></span>.</span>
		<div id="order-step">
		
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
				<div id="payment">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="encrypted" value="<%%= paypal_encrypted %>">
					<input type="submit" class="button" value="Pay">
									
					<div>You will be redirected to PayPal</div>
				</div>
			</form>
		</div>
	</td>
</tr>

</table>

</script>