<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to bananabread.com, <%= @order.user_name %></h1>
    
    <p>
	  Thank you for your purchase!
      Your order # <%= @order.id %> is going to be delivered soon.
    </p>
  </body>
</html>