<!DOCTYPE html>
<html>
<head>
  <title>Bread</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDhRPSh3X2b3goMp4DcBLd855DGDv1iO48&sensor=false">
			</script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='wrap' class="clearfix">
	<%= yield %>
</div>

</body>
</html>
